.main_header {
	position: fixed;
	top: 0;
	left: 10rem;
	//right: 10rem;
	width: 100%;
	display: flex;
	align-items: center;
	//background-color: #1C1D1D;
	background-color: rgb(28, 29, 29);
	z-index: 9;

	@include bp(1140px) {
		left: 5rem;
	}

	@include bp(1366px) {
		//position: relative;
		margin-left: -5rem;
		justify-content: space-between;
		//background: none;
	}

	&.contacts_mod {
		background-color: transparent;

		@include bp(565px) {
			background-color: inherit;
		}
	}
}

.logo_wrap {
	margin: 0 3rem 3rem 0;

	@include bp(1024px) {
		//margin: 0 3rem 3rem 4rem;
		margin: 0 3rem 0 5rem;
	}

	@media (max-width: 812px) and (orientation: landscape){
		img {
			max-width: 16rem;
		}
	}

	@include bp(565px) {
		//margin: 0 3rem 3rem 1.6rem;
		margin: 0 3rem 0 1.6rem;

		img {
			max-width: 11rem;
		}
	}

}

// Nav

.header_nav {
	margin: 0 0 0 -4.2rem;;
	font-size: 0;

	@include bp(1366px) {
		display: none;
	}
}

.header_nav_list {

}
.header_nav_item {
	display: inline-block;
	margin-bottom: 2.9rem;
}

.header_nav_link {
	position: relative;
	padding: 0 0 1.5rem 4.2rem;
	font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #AAAAAA;

	/*@include bp(1370px) {
		padding: 0 0 1.5rem 3.6rem;
		font-size: 1.3rem;
	}*/

	&.active,
	&:hover {
		color: #D59D77;
		&:after {
			content: '';
			position: absolute;
			left: 4.2rem;
			right: 0;
			bottom: 0;
			height: .1rem;
			background-color: #EFAF84;
		}
	}
}

// Mobile nav
.mobile_nav_wrap {

	@include bp(1366px) {
		/*display: flex;
		flex-direction: column;*/
	}
}

/*.menu_icon {
	display: none;

	@include bp(1024px) {
		position: relative;
		margin-right: 5rem;
		display: block;
		width: 3rem;
		height: 1.8rem;
		margin-bottom: 4.2rem;
		z-index: 999;
		cursor: pointer;

		span,
		&::before,
		&::after {
			position: absolute;
			//left: 0;
			width: 100%;
			height: .2rem;
			transition: all .3s ease 0s;
			background-color: #fff;
		}
		&::before,
		&::after {
			content: '';
			width: 50%;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}
	}
}*/

.menu_icon {
	display: none;

	@include bp(1366px) {
		position: relative;
		margin-right: 10rem;
		display: block;
		/*width: 3rem;
		height: 1.8rem;*/
		width: 6rem;
		height: 3.6rem;
		margin-bottom: 1.2rem;
		z-index: 999;
		cursor: pointer;

		span,
		&::before,
		&::after {
			position: absolute;
			//left: 0;
			width: 100%;
			height: .4rem;
			transition: all .3s ease 0s;
			background-color: #fff;

			@include bp(565px) {
				height: .2rem;
			}
		}
		&::before,
		&::after {
			content: '';
			width: 50%;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}
	}

	@media (max-width: 812px) and (orientation: landscape){
		width: 3.6rem;
		margin-right: 4rem;
		margin-bottom: 0;
	}

	@include bp(565px) {
		width: 3rem;
		height: 1.8rem;
		margin-right: 1.6rem;
		margin-bottom: 0;
	}

	@include bp(320px) {
		width: 2rem;
		height: 1.8rem;
		margin-right: 1.6rem;
	}
}

.menu_icon_active {
	position: absolute;
	left: 15rem;
	top: 5rem;

	@include bp(1366px) {
		left: 18rem;
	}

	@media (max-width: 1024px) and (orientation: landscape){
		width: 4rem;
		left: 12.3rem;
	}

	@media (max-width: 812px) and (orientation: landscape){
		top: 3rem;
		left: 10rem;
	}

	@media (max-width: 568px) and (orientation: landscape){
		top: 2rem;
		left: 8rem;
	}

	@include bp(565px) {
		left: 5.5rem;
		top: 3rem;
	}

	span {
		transform: scale(0) translate(0, -50%);
	}
	&::before {
		width: 100%;
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}
	&::after {
		width: 100%;
		bottom: 50%;
		//right: 0;
		transform: rotate(45deg) translate(0, 50%);
	}
}

.mobile_nav {
	display: none;
	//margin-right: 5rem;
	width: 90%;
	height: 100vh;
	padding: 15.3rem 3.1rem 2.3rem 7.6rem;
	overflow: auto;
	background-color: #1C1D1D;

	@include bp(1366px) {
		//display: block;
		position: absolute;
		top: 0;
		//right: 5rem;
		right: 0;
		z-index: 99;
	}

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 7rem;
	}

	@include bp(565px) {
		padding: 9.5rem 3.1rem 2.3rem 3.6rem;
	}

	a {
		display: inline-block;
		//color: #AAAAAA;
		text-decoration: none;
	}
}

.mobile_nav_active {
	display: block;
}

.mobile_nav_list {}
.mobile_nav_item {
	margin: 0 0 2.1rem 0;

	@media (max-width: 768px) and (orientation: landscape){
		margin: 0 0 1.5rem 0;
	}

	@include bp(320px) {
		margin: 0 0 .5rem 0;
	}
}
.mobile_nav_link {
	position: relative;
	padding: 0 1.5rem 2.2rem 0;
	font-weight: 300;
	font-size: 3rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	@media (max-width: 1024px) and (orientation: landscape){
		font-size: 1.8rem;
	}

	@media (max-width: 812px) and (orientation: landscape){
		padding-bottom: .3rem;
		font-size: 1.3rem;
	}

	@include bp(768px) {
		font-size: 2rem;
	}

	@media (max-width: 731px) and (orientation: landscape){
		padding-bottom: .3rem;
		font-size: 1.3rem;
	}

	@include bp(565px) {
		padding: 0 4.5rem 2.2rem 0;
		font-size: 1.4rem;
	}

	@include bp(320px) {
		font-size: 1.2rem;
		padding: 0 4.5rem 1.5rem 0;
	}
}

#row,
#row2,
#row3 {
	&::after {
		content: '';
		position: absolute;
		right: -1rem;
		top: .8rem;
		background-image: url(/ico/menu-arrow.svg);
		background-size: 100%;
		width: 1.8rem;
		height: 1rem;
		transform: rotate(0);

		@media (max-width: 1024px) and (orientation: landscape){
			top: 0.5rem;
			right: 0;
			width: 1.1rem;
			height: 0.6rem;
		}

		@media (max-width: 812px) and (orientation: landscape){
			top: 0.3rem;
			/*top: 0.3rem;
			right: 0;
			width: 1.1rem;
			height: 0.6rem;*/
		}

		@include bp(565px) {
			right: 3.3rem;
			top: .3rem;
			background-size: 100%;
			width: .9rem;
			height: .5rem;
		}
	}
}

#row.rotate,
#row2.rotate,
#row3.rotate{
	&::after {
		//content: '';
		//position: absolute;
		//top: .3rem;
		//background-image: url(/ico/menu-arrow.svg);
		//background-size: 100%;
		//width: .9rem;
		//height: .5rem;
		//width: 1.8rem;
		//height: 1rem;
		transform: rotate(180deg);

		@include bp(565px) {
			right: 3.3rem;
			top: .3rem;
			background-size: 100%;
			width: .9rem;
			height: .5rem;
		}
	}
}

.mobile_nav__sub_list {
	//display: none;
	padding-top: 2rem;

	@include bp(565px) {
		padding-top: 0;
	}
}
.hidden {
	display: none;
}
.mobile_nav__sub_item {}
.mobile_nav__sub_link {
	display: block;
	position: relative;
	padding: 0 0 4.1rem 6.6rem;
	font-weight: normal;
	//font-size: 1rem;
	font-size: 2rem;
	line-height: 1.4;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	@media (max-width: 1024px) and (orientation: landscape){
		font-size: 1.3rem;
	}

	@media (max-width: 812px) and (orientation: landscape){
		font-size: 1rem;
		padding-bottom: 2.1rem;
		padding-left: 3.6rem;
	}

	@include bp(565px) {
		padding: 0 0 2.1rem 3.6rem;
		font-size: 1rem;
	}

	@include bp(320px) {
		padding: 0 0 1.2rem 3.6rem;
		font-size: 1rem;
	}

	&:before {
		content: '';
		position: absolute;
		top: .1rem;
		left: 3rem;
		width: 1.5rem;
		height: 1.5rem;
		border: 2px solid #FFFFFF;
		border-radius: 50%;



		@include bp(1024px) {
			top: 0.5rem;
		}

		@media (max-width: 1024px) and (orientation: landscape){
			top: 0.4rem;
			left: 4.5rem;
			width: .8rem;
			height: .8rem;
		}

		@media (max-width: 812px) and (orientation: landscape){
			width: 0.6rem;
			height: 0.6rem;
			top: 0.2rem;
			left: 1.6rem;
		}

		@include bp(565px) {
			width: 0.9rem;
			height: 0.9rem;
			top: 0.1rem;
			left: 1.2rem;
			border: 1px solid #FFFFFF;
		}
	}

	&:hover, &:active {
		&:before {
			background-color: #fff;
		}
	}
}

.header_nav.test {
	//display: none;
}