.main_header {
  display: flex;
  align-items: center;
}
.main_header .header_nav {
  margin: 0 0 0 -4.2rem;
  font-size: 0;
}
.main_header .header_nav_link {
  padding: 0 0 2rem 4.2rem;
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #AAAAAA;
}

/*# sourceMappingURL=header.css.map */
