.nav_sidebar_wrap {
	position: relative;
	min-width: 29.2rem;

	&.contacts-mod {
		opacity: 0;
	}

	@include bp(1366px) {
		display: none;
	}
}

.nav_sidebar{
	position: fixed;
	top: 34%;
	left: 10rem;
	//max-width: 28rem;
	max-width: 20rem;
	z-index: 999;

	//margin-top: 18.5rem;
	//margin: 0 14.3rem 0 0;
	//flex: 1;

	@include bp(1140px) {
		left: 5rem;
	}
}

.nav_sidebar_item {
	padding: 0 0 2rem 0;
}

.nav_sidebar_link {
	position: relative;
	display: block;
	padding: 0 0 0 2.5rem;
	font-size: 1.4rem;
	line-height: 1.6;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;

	&:before {
		content: '';
		position: absolute;
		top: 0.3rem;
		left: 0;
		width: 1.2rem;
		height: 1.2rem;
		border: 1px solid #FFFFFF;
		border-radius: 50%;
	}

	&:hover {
		&:before {
			background-color: #fff;
		}
	}

	&:active {
		&:before {
			background-color: #fff;
		}
	}
}

.nav_sidebar_link_active {
	&:before {
		background-color: #fff;
	}
}