.socials {
	position: fixed;
	left: 10rem;
	bottom: 6.4rem;
	z-index: 99;
	//margin: 0 0 6.4rem 0;

	@include bp(1366px) {
		display: none;
	}
}

.socials_link {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 5rem;

	@include bp(320px) {
		margin-right: 3rem;
	}
}

.socials_img {
	display: block;
	width: 100%;
	height: auto;
}

.mobile_nav_wrap {
	.socials {
		position: static;

		@include bp(1366px) {
			display: block;
		}
	}

}