@import "reset.css";
.main_header {
  position: fixed;
  top: 0;
  left: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c1d1d;
  z-index: 9;
}
@media screen and (max-width: 1140px) {
  .main_header {
    left: 5rem;
  }
}
@media screen and (max-width: 1366px) {
  .main_header {
    margin-left: -5rem;
    justify-content: space-between;
  }
}
.main_header.contacts_mod {
  background-color: transparent;
}
@media screen and (max-width: 565px) {
  .main_header.contacts_mod {
    background-color: inherit;
  }
}

.logo_wrap {
  margin: 0 3rem 3rem 0;
}
@media screen and (max-width: 1024px) {
  .logo_wrap {
    margin: 0 3rem 0 5rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .logo_wrap img {
    max-width: 16rem;
  }
}
@media screen and (max-width: 565px) {
  .logo_wrap {
    margin: 0 3rem 0 1.6rem;
  }
  .logo_wrap img {
    max-width: 11rem;
  }
}

.header_nav {
  margin: 0 0 0 -4.2rem;
  font-size: 0;
}
@media screen and (max-width: 1366px) {
  .header_nav {
    display: none;
  }
}

.header_nav_item {
  display: inline-block;
  margin-bottom: 2.9rem;
}

.header_nav_link {
  position: relative;
  padding: 0 0 1.5rem 4.2rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #AAAAAA;
  /*@include bp(1370px) {
  	padding: 0 0 1.5rem 3.6rem;
  	font-size: 1.3rem;
  }*/
}
.header_nav_link.active, .header_nav_link:hover {
  color: #D59D77;
}
.header_nav_link.active:after, .header_nav_link:hover:after {
  content: "";
  position: absolute;
  left: 4.2rem;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  background-color: #EFAF84;
}

@media screen and (max-width: 1366px) {
  .mobile_nav_wrap {
    /*display: flex;
    flex-direction: column;*/
  }
}

/*.menu_icon {
	display: none;

	@include bp(1024px) {
		position: relative;
		margin-right: 5rem;
		display: block;
		width: 3rem;
		height: 1.8rem;
		margin-bottom: 4.2rem;
		z-index: 999;
		cursor: pointer;

		span,
		&::before,
		&::after {
			position: absolute;
			//left: 0;
			width: 100%;
			height: .2rem;
			transition: all .3s ease 0s;
			background-color: #fff;
		}
		&::before,
		&::after {
			content: '';
			width: 50%;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0, -50%);
		}
	}
}*/
.menu_icon {
  display: none;
}
@media screen and (max-width: 1366px) {
  .menu_icon {
    position: relative;
    margin-right: 10rem;
    display: block;
    /*width: 3rem;
    height: 1.8rem;*/
    width: 6rem;
    height: 3.6rem;
    margin-bottom: 1.2rem;
    z-index: 999;
    cursor: pointer;
  }
  .menu_icon span, .menu_icon::before, .menu_icon::after {
    position: absolute;
    width: 100%;
    height: 0.4rem;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
}
@media screen and (max-width: 1366px) and (max-width: 565px) {
  .menu_icon span, .menu_icon::before, .menu_icon::after {
    height: 0.2rem;
  }
}
@media screen and (max-width: 1366px) {
  .menu_icon::before, .menu_icon::after {
    content: "";
    width: 50%;
  }
}
@media screen and (max-width: 1366px) {
  .menu_icon::before {
    top: 0;
  }
}
@media screen and (max-width: 1366px) {
  .menu_icon::after {
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 1366px) {
  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .menu_icon {
    width: 3.6rem;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 565px) {
  .menu_icon {
    width: 3rem;
    height: 1.8rem;
    margin-right: 1.6rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 320px) {
  .menu_icon {
    width: 2rem;
    height: 1.8rem;
    margin-right: 1.6rem;
  }
}

.menu_icon_active {
  position: absolute;
  left: 15rem;
  top: 5rem;
}
@media screen and (max-width: 1366px) {
  .menu_icon_active {
    left: 18rem;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .menu_icon_active {
    width: 4rem;
    left: 12.3rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .menu_icon_active {
    top: 3rem;
    left: 10rem;
  }
}
@media (max-width: 568px) and (orientation: landscape) {
  .menu_icon_active {
    top: 2rem;
    left: 8rem;
  }
}
@media screen and (max-width: 565px) {
  .menu_icon_active {
    left: 5.5rem;
    top: 3rem;
  }
}
.menu_icon_active span {
  transform: scale(0) translate(0, -50%);
}
.menu_icon_active::before {
  width: 100%;
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.menu_icon_active::after {
  width: 100%;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.mobile_nav {
  display: none;
  width: 90%;
  height: 100vh;
  padding: 15.3rem 3.1rem 2.3rem 7.6rem;
  overflow: auto;
  background-color: #1C1D1D;
}
@media screen and (max-width: 1366px) {
  .mobile_nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .mobile_nav {
    padding-top: 7rem;
  }
}
@media screen and (max-width: 565px) {
  .mobile_nav {
    padding: 9.5rem 3.1rem 2.3rem 3.6rem;
  }
}
.mobile_nav a {
  display: inline-block;
  text-decoration: none;
}

.mobile_nav_active {
  display: block;
}

.mobile_nav_item {
  margin: 0 0 2.1rem 0;
}
@media (max-width: 768px) and (orientation: landscape) {
  .mobile_nav_item {
    margin: 0 0 1.5rem 0;
  }
}
@media screen and (max-width: 320px) {
  .mobile_nav_item {
    margin: 0 0 0.5rem 0;
  }
}

.mobile_nav_link {
  position: relative;
  padding: 0 1.5rem 2.2rem 0;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 1024px) and (orientation: landscape) {
  .mobile_nav_link {
    font-size: 1.8rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .mobile_nav_link {
    padding-bottom: 0.3rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .mobile_nav_link {
    font-size: 2rem;
  }
}
@media (max-width: 731px) and (orientation: landscape) {
  .mobile_nav_link {
    padding-bottom: 0.3rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 565px) {
  .mobile_nav_link {
    padding: 0 4.5rem 2.2rem 0;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 320px) {
  .mobile_nav_link {
    font-size: 1.2rem;
    padding: 0 4.5rem 1.5rem 0;
  }
}

#row::after,
#row2::after,
#row3::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 0.8rem;
  background-image: url(/ico/menu-arrow.svg);
  background-size: 100%;
  width: 1.8rem;
  height: 1rem;
  transform: rotate(0);
}
@media (max-width: 1024px) and (orientation: landscape) {
  #row::after,
#row2::after,
#row3::after {
    top: 0.5rem;
    right: 0;
    width: 1.1rem;
    height: 0.6rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  #row::after,
#row2::after,
#row3::after {
    top: 0.3rem;
    /*top: 0.3rem;
    right: 0;
    width: 1.1rem;
    height: 0.6rem;*/
  }
}
@media screen and (max-width: 565px) {
  #row::after,
#row2::after,
#row3::after {
    right: 3.3rem;
    top: 0.3rem;
    background-size: 100%;
    width: 0.9rem;
    height: 0.5rem;
  }
}

#row.rotate::after,
#row2.rotate::after,
#row3.rotate::after {
  transform: rotate(180deg);
}
@media screen and (max-width: 565px) {
  #row.rotate::after,
#row2.rotate::after,
#row3.rotate::after {
    right: 3.3rem;
    top: 0.3rem;
    background-size: 100%;
    width: 0.9rem;
    height: 0.5rem;
  }
}

.mobile_nav__sub_list {
  padding-top: 2rem;
}
@media screen and (max-width: 565px) {
  .mobile_nav__sub_list {
    padding-top: 0;
  }
}

.hidden {
  display: none;
}

.mobile_nav__sub_link {
  display: block;
  position: relative;
  padding: 0 0 4.1rem 6.6rem;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 1024px) and (orientation: landscape) {
  .mobile_nav__sub_link {
    font-size: 1.3rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .mobile_nav__sub_link {
    font-size: 1rem;
    padding-bottom: 2.1rem;
    padding-left: 3.6rem;
  }
}
@media screen and (max-width: 565px) {
  .mobile_nav__sub_link {
    padding: 0 0 2.1rem 3.6rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .mobile_nav__sub_link {
    padding: 0 0 1.2rem 3.6rem;
    font-size: 1rem;
  }
}
.mobile_nav__sub_link:before {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 3rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .mobile_nav__sub_link:before {
    top: 0.5rem;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .mobile_nav__sub_link:before {
    top: 0.4rem;
    left: 4.5rem;
    width: 0.8rem;
    height: 0.8rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .mobile_nav__sub_link:before {
    width: 0.6rem;
    height: 0.6rem;
    top: 0.2rem;
    left: 1.6rem;
  }
}
@media screen and (max-width: 565px) {
  .mobile_nav__sub_link:before {
    width: 0.9rem;
    height: 0.9rem;
    top: 0.1rem;
    left: 1.2rem;
    border: 1px solid #FFFFFF;
  }
}
.mobile_nav__sub_link:hover:before, .mobile_nav__sub_link:active:before {
  background-color: #fff;
}

.socials {
  position: fixed;
  left: 10rem;
  bottom: 6.4rem;
  z-index: 99;
}
@media screen and (max-width: 1366px) {
  .socials {
    display: none;
  }
}

.socials_link {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5rem;
}
@media screen and (max-width: 320px) {
  .socials_link {
    margin-right: 3rem;
  }
}

.socials_img {
  display: block;
  width: 100%;
  height: auto;
}

.mobile_nav_wrap .socials {
  position: static;
}
@media screen and (max-width: 1366px) {
  .mobile_nav_wrap .socials {
    display: block;
  }
}

.nav_sidebar_wrap {
  position: relative;
  min-width: 29.2rem;
}
.nav_sidebar_wrap.contacts-mod {
  opacity: 0;
}
@media screen and (max-width: 1366px) {
  .nav_sidebar_wrap {
    display: none;
  }
}

.nav_sidebar {
  position: fixed;
  top: 34%;
  left: 10rem;
  max-width: 20rem;
  z-index: 999;
}
@media screen and (max-width: 1140px) {
  .nav_sidebar {
    left: 5rem;
  }
}

.nav_sidebar_item {
  padding: 0 0 2rem 0;
}

.nav_sidebar_link {
  position: relative;
  display: block;
  padding: 0 0 0 2.5rem;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav_sidebar_link:before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.nav_sidebar_link:hover:before {
  background-color: #fff;
}
.nav_sidebar_link:active:before {
  background-color: #fff;
}

.nav_sidebar_link_active:before {
  background-color: #fff;
}

.who_wrap {
  width: 100%;
}

.about {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 0 -2rem -3rem;
  padding-right: 7.5rem;
  padding-top: 18rem;
  overflow: auto;
}
.about::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 38%;
  height: 53%;
  background-color: #172F31;
}
@media screen and (max-width: 1024px) {
  .about::after {
    width: 62%;
    height: 42%;
    bottom: -17%;
  }
}
@media screen and (max-width: 768px) {
  .about::after {
    width: 57%;
    height: 46%;
    bottom: -47%;
  }
}
@media screen and (max-width: 565px) {
  .about::after {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .about {
    padding-right: 5rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .about {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 565px) {
  .about {
    padding-top: 9rem;
    padding-right: 2rem;
  }
}
.about_block {
  padding: 0 0 2rem 3rem;
}
.about_info {
  flex: 1 1 41%;
  min-width: 300px;
}
@media screen and (max-width: 1024px) {
  .about_info {
    flex: 1 1 auto;
  }
}
.about_info_text p {
  padding: 0 0 2rem 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 565px) {
  .about_info_text p {
    font-size: 1.4rem;
    padding: 0 0 1.5rem 0;
  }
}
.about_info_text .bold-mod {
  font-weight: 700;
}
.about .about_image {
  position: relative;
  flex: 1 1 59%;
  align-self: flex-start;
  margin-top: 5rem;
}
@media screen and (max-width: 1024px) {
  .about .about_image {
    padding-bottom: 17rem;
  }
}
@media screen and (max-width: 565px) {
  .about .about_image {
    margin-top: 0;
    padding-bottom: 7rem;
  }
}
.about .about_image img {
  display: block;
  width: 100%;
  max-height: 55rem;
  border-radius: 1rem;
}
.about_image_info {
  position: absolute;
  left: 20%;
  bottom: -24%;
  transform: translateY(-30%);
  width: 50%;
  padding: 2.5rem 3.4rem 4rem 3.4rem;
  background-color: #0F5257;
  border-radius: 1rem;
}
@media screen and (max-width: 1024px) {
  .about_image_info {
    bottom: 2%;
  }
}
@media screen and (max-width: 768px) {
  .about_image_info {
    bottom: -3%;
  }
}
@media screen and (max-width: 565px) {
  .about_image_info {
    display: none;
  }
}
.about_image_info_title {
  padding-bottom: 0.7rem;
  font-weight: normal;
  font-size: 5rem;
  line-height: 1.2;
}
.about_image_info_text.v1-mod {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.about_image_info_text.v1-mod:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 43%;
  background-color: #fff;
}
.about_image_info_text p {
  padding-bottom: 0.3rem;
}

.team_wrap {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1rem;
}
.team_wrap::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 52%;
  height: 29%;
  background-color: #172F31;
}
@media screen and (max-width: 1024px) {
  .team_wrap::after {
    display: none;
  }
}

.team {
  position: relative;
  z-index: 1;
  display: flex;
  align-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  height: 100vh;
  max-width: 113.8rem;
  margin: 10rem 0 0 -3rem;
  padding-top: 10.7rem;
  overflow: auto;
}
@media screen and (max-width: 1024px) {
  .team {
    margin-right: 5rem;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .team {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 565px) {
  .team {
    margin-right: 1rem;
    padding-top: 0;
    padding-bottom: 7rem;
  }
}

.team_block {
  position: relative;
  align-self: flex-start;
  width: 25%;
  min-width: 24rem;
  /*margin-top: 4rem;*/
  padding: 0 0 2rem 1.9rem;
}
.team_block:nth-child(2) {
  margin-top: 4rem;
}
.team_block:nth-child(3) {
  margin-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .team_block {
    width: 50%;
  }
}
@media screen and (max-width: 565px) {
  .team_block {
    width: 100%;
  }
}
@media screen and (max-width: 565px) {
  .team_block:nth-child(2) {
    margin-top: 0;
  }
  .team_block:nth-child(3) {
    margin-top: 0;
  }
}
.team_block.with-mod {
  width: 50%;
  min-width: 300px;
  max-width: 100%;
  padding-right: 1rem;
  margin-top: 4rem;
}
@media screen and (max-width: 1024px) {
  .team_block.with-mod {
    width: 100%;
  }
}
@media screen and (max-width: 565px) {
  .team_block.with-mod {
    padding-right: 0;
  }
}
.team_block_text p {
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}
.team_block_text p:last-child {
  padding-bottom: 0;
}
.team_block_img {
  position: relative;
  filter: grayscale(100%) saturate(104%);
  -webkit-filter: grayscale(100%) saturate(104%);
  -moz-filter: grayscale(100%) saturate(104%);
}
.team_block_img .team_block_info {
  position: absolute;
  left: 6%;
  bottom: 11%;
  font-size: 1.8rem;
  line-height: 1.2;
  z-index: 1;
}
.team_block_img .team_block_info_title {
  font-weight: 600;
}
.team_block_img .team_block_info_position {
  font-weight: normal;
}
.team_block_img .team_block_info_email {
  display: none;
  font-weight: 300;
}
.team_block_img:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  background-color: #fff;
}
.team_block_img:hover .team_block_info_email {
  display: block;
}
.team_block_img:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.team_block_img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  cursor: pointer;
}

.core {
  padding-top: 18.7rem;
  height: 100vh;
  overflow: auto;
}
@media (max-width: 812px) and (orientation: landscape) {
  .core {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 565px) {
  .core {
    padding-top: 9rem;
  }
}
.core_subtitle {
  padding-bottom: 4.7rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.4;
}
.core_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 7.5rem;
}
@media screen and (max-width: 565px) {
  .core_list {
    padding: 0 0 7rem 4rem;
  }
}
.core_item {
  position: relative;
  width: 47%;
  min-width: 30rem;
  padding: 0 4rem 6.5rem 11.5rem;
}
@media screen and (max-width: 565px) {
  .core_item {
    padding: 0 0 3.5rem 8.5rem;
  }
}
.core_item.candid-mod:before, .core_item.passionate-mod:before, .core_item.innovative-mod:before, .core_item.curious-mod:before, .core_item.results-mod:before, .core_item.laughter-mod:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0.5rem;
  width: 7rem;
  height: 7rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 565px) {
  .core_item.candid-mod:before, .core_item.passionate-mod:before, .core_item.innovative-mod:before, .core_item.curious-mod:before, .core_item.results-mod:before, .core_item.laughter-mod:before {
    width: 5rem;
    height: 5rem;
  }
}
.core_item.candid-mod:before {
  background-image: url("/ico/Candid.svg");
  height: 4.8rem;
}
.core_item.passionate-mod:before {
  background-image: url("/ico/Passionate.svg");
}
.core_item.innovative-mod:before {
  background-image: url("/ico/Innovative.svg");
}
.core_item.curious-mod:before {
  background-image: url("/ico/Curious&Courageous.svg");
}
.core_item.results-mod:before {
  background-image: url("/ico/Results-Driven.svg");
}
.core_item.laughter-mod:before {
  background-image: url("/ico/Laughter.svg");
}
.core_item_header {
  padding-bottom: 0.8rem;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
}
@media screen and (max-width: 565px) {
  .core_item_header {
    font-size: 2.2rem;
  }
}
.core_item_text {
  max-width: 32.2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 565px) {
  .core_item_text {
    font-size: 1.4rem;
  }
}

.vision {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 18.8rem;
  overflow: auto;
  /*@include bp(565px) {
  	padding-top: 15rem;
  }*/
}
@media screen and (max-width: 850px) {
  .vision {
    padding-top: 15rem;
  }
}
.vision.bg-mod {
  background: #1C1D1D url("/images/vision-bg-2.png") 100% 125%/100% no-repeat;
  /*@media (max-width: 1366px) and (max-height: 1024px){
  	background: #1C1D1D url("/images/vision-bg-2.png") 35% 100%/218% no-repeat;
  }*/
  /*@include bp(1366px) {
  	background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/100% no-repeat;
  }*/
  /*@include bp(1024px) {
  	background: #1C1D1D url("/images/vision-bg-2.png") 37% 100%/218% no-repeat;
  }*/
}
@media (max-width: 1366px) and (orientation: landscape) {
  .vision.bg-mod {
    background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/119% no-repeat;
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  .vision.bg-mod {
    background: #1C1D1D url("/images/vision-bg-2.png") 35% 100%/218% no-repeat;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .vision.bg-mod {
    background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/106% no-repeat;
  }
}
@media (max-height: 768px) and (orientation: portrait) {
  .vision.bg-mod {
    background: #1C1D1D url("/images/vision-bg-2.png") 39% 100%/220% no-repeat;
  }
}
@media screen and (max-width: 731px) {
  .vision.bg-mod {
    background: #1C1D1D url("/images/vision-bg-2.png") 100% 140%/83% no-repeat;
  }
}
@media screen and (max-width: 565px) {
  .vision.bg-mod {
    background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/126% no-repeat;
  }
}
.vision_content {
  max-width: 94.6rem;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 565px) {
  .vision_content {
    margin-top: 25%;
  }
}
.vision_content p {
  font-weight: normal;
  font-size: 4rem;
  line-height: 1.2;
  text-transform: uppercase;
  /*@include bp(850px) {
  	width: 58vw;
  	font-size: 2rem;
  }*/
}
.vision_content p .bold-mod {
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .vision_content p {
    width: 90vw;
  }
}
@media (max-width: 812px) and (orientation: landscape) {
  .vision_content p {
    width: 58vw;
    font-size: 2rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .vision_content p {
    width: 90vw;
    font-size: 4rem;
  }
}
@media screen and (max-width: 565px) {
  .vision_content p {
    width: 90vw;
    font-size: 2.5rem;
  }
}

.whatwedo {
  position: relative;
  z-index: 1;
}
.whatwedo::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 45%;
  height: 70%;
  background-color: #172F31;
}
@media screen and (max-width: 565px) {
  .whatwedo::after {
    display: none;
  }
}

.whatwedo_wrap {
  width: 100%;
}
.whatwedo_wrap img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.whatwedo_section_wrap {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 10rem 0 -4.2rem;
  padding-top: 18.5rem;
  overflow: auto;
}
@media (max-width: 812px) and (orientation: landscape) {
  .whatwedo_section_wrap {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 565px) {
  .whatwedo_section_wrap {
    margin: 0 1.6rem 0 -4.2rem;
    padding-top: 9rem;
    padding-bottom: 6rem;
  }
}

.whatwedo_newhomes_text_wrap {
  padding-bottom: 3.5rem;
}
@media screen and (max-width: 565px) {
  .whatwedo_newhomes_text_wrap {
    padding-bottom: 2.5rem;
  }
}
.whatwedo_newhomes_text_wrap p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 565px) {
  .whatwedo_newhomes_text_wrap p {
    font-size: 1.4rem;
  }
}

.whatwedo_section {
  width: 62%;
  padding-left: 4.2rem;
}
@media screen and (max-width: 1372px) {
  .whatwedo_section {
    width: 100%;
  }
}
.whatwedo_section.width-mod {
  width: 38%;
  min-width: 35rem;
}
@media screen and (max-width: 1372px) {
  .whatwedo_section.width-mod {
    width: 100%;
  }
}

.whatwedo_block_wrap {
  position: relative;
  padding-bottom: 3.7rem;
  filter: grayscale(100%) saturate(104%);
  -webkit-filter: grayscale(100%) saturate(104%);
  -moz-filter: grayscale(100%) saturate(104%);
}
.whatwedo_block_wrap.v1-mod {
  height: 55rem;
}
.whatwedo_block_wrap.v2-mod {
  height: 39.1rem;
}
.whatwedo_block_wrap.v3-mod, .whatwedo_block_wrap.v4-mod {
  min-height: 35.5rem;
}

.whatwedo_acqui_letti {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4.2rem;
}
.whatwedo_acqui_letti .whatwedo_block_wrap {
  width: calc(50% - 2.1rem);
}
@media screen and (max-width: 1140px) {
  .whatwedo_acqui_letti .whatwedo_block_wrap {
    width: 100%;
  }
}

.whatwedo_block_info {
  position: absolute;
  left: 6%;
  width: 60%;
  bottom: 20%;
  line-height: 1.2;
}

.whatwedo_block_info_title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
}
@media screen and (max-width: 565px) {
  .whatwedo_block_info_title {
    font-size: 2.2rem;
  }
}

.whatwedo_block_info_text {
  display: none;
  font-weight: normal;
  font-size: 2.1rem;
  line-height: 1.2;
}
@media screen and (max-width: 565px) {
  .whatwedo_block_info_text {
    font-size: 1.5rem;
  }
}

.whatwedo_block_wrap:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
}
.whatwedo_block_wrap:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3.7rem);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 1rem;
}
.whatwedo_block_wrap:hover .whatwedo_block_info {
  left: 10%;
  width: 80%;
  bottom: 50%;
  z-index: 1;
  transform: translateY(40%);
}
@media screen and (max-width: 565px) {
  .whatwedo_block_wrap:hover .whatwedo_block_info {
    left: 7%;
  }
}
.whatwedo_block_wrap:hover .whatwedo_block_info_title {
  padding-bottom: 1rem;
}
.whatwedo_block_wrap:hover .whatwedo_block_info_text {
  display: block;
}

.newhomes {
  padding-top: 19rem;
  padding-bottom: 5rem;
  height: 100vh;
  overflow: auto;
}
@media (max-width: 812px) and (orientation: landscape) {
  .newhomes {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 565px) {
  .newhomes {
    padding-top: 9rem;
    padding-bottom: 8rem;
  }
}

.newhomes_block {
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
  margin-bottom: 11.9rem;
}
.newhomes_block.acquisitions-mod {
  margin-bottom: 6rem;
}
.newhomes_block.lettings-mod {
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .newhomes_block {
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 565px) {
  .newhomes_block {
    margin-bottom: 3rem;
  }
}

.newhomes_content {
  flex: 0 1 37%;
}
@media screen and (max-width: 1140px) {
  .newhomes_content {
    flex: 1 1 auto;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .newhomes_content {
    padding-right: 1.6rem;
  }
}
.newhomes_content p {
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 565px) {
  .newhomes_content p {
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
  }
}
.newhomes_content p:last-child {
  padding-bottom: 0;
}
.newhomes_content p a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #EFAF84;
}
.newhomes_content p a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  height: 0.1rem;
  background-color: #EFAF84;
}

.newhomes_content_title {
  padding-bottom: 0.8rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
}

.newhomes_content:last-child .newhomes_content_list {
  margin-bottom: 1rem;
}

.newhomes_content_list {
  padding-bottom: 1rem;
}

.newhomes_content_item {
  position: relative;
  margin-bottom: 1.2rem;
  padding-left: 2.5rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.2;
}
.newhomes_content_item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.6rem;
  height: 0.6rem;
  background: #EFAF84;
  border-radius: 50%;
}

.newhomes_count_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 78%;
  gap: 3.5rem;
}
@media screen and (max-width: 1024px) {
  .newhomes_count_block {
    width: 100%;
    padding-right: 5rem;
    justify-content: center;
  }
}
@media screen and (max-width: 565px) {
  .newhomes_count_block {
    padding-right: 1.6rem;
  }
}
.newhomes_count_block.acquisitions-mod {
  justify-content: center;
  column-gap: 16rem;
}
@media screen and (max-width: 768px) {
  .newhomes_count_block {
    justify-content: center;
  }
}

.newhomes_count {
  max-width: 39.8rem;
  font-family: "TTHoves";
}

.newhomes_count_num {
  padding-bottom: 1.5rem;
  font-weight: 200;
  font-size: 6rem;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .newhomes_count_num {
    font-size: 4rem;
  }
}
@media screen and (max-width: 565px) {
  .newhomes_count_num {
    font-size: 3rem;
  }
}

.newhomes_count_desc {
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .newhomes_count_desc {
    font-size: 2rem;
    max-width: 20rem;
  }
}
@media screen and (max-width: 565px) {
  .newhomes_count_desc {
    font-size: 1.8rem;
  }
}

.whatwedo_section_wrap,
.newhomes {
  /*@media (max-width: 812px) and (orientation: landscape) {
  	padding-top: 13rem;
  }*/
}

.contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding-top: 16rem;
  overflow: auto;
}
@media screen and (max-width: 565px) {
  .contacts {
    padding-top: 9rem;
    padding-bottom: 4rem;
  }
}

.contacts_info {
  display: flex;
  flex-direction: column;
}

.contacts_info_content {
  margin-bottom: 3.4rem;
}
.contacts_info_content:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 565px) {
  .contacts_info_content {
    margin-bottom: 2.5rem;
  }
}

.contacts_info_content_title {
  padding-bottom: 0.7rem;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media screen and (max-width: 565px) {
  .contacts_info_content_title {
    font-size: 1.4rem;
  }
}

.contacts_info_content_desc {
  font-weight: 300;
  font-size: 1.6rem;
  color: #A2A2A2;
}
@media screen and (max-width: 565px) {
  .contacts_info_content_desc {
    font-size: 1.4rem;
  }
}
.contacts_info_content_desc.email-mod {
  line-height: 1.4;
  color: #EFAF84;
}

.company_number {
  margin-top: auto;
  padding-bottom: 6.5rem;
}
.company_number p {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #5B5B5B;
}

.contacts_form_wrap {
  margin: 21rem 0 0 3.3rem;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .contacts_form_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .contacts_form_wrap {
    margin: 0 0 0 0;
    padding-right: 1.6rem;
  }
}

.contacts_form {
  width: 51rem;
  padding: 4rem 4.5rem;
  background: #172F31;
  border-radius: 10px;
}
@media screen and (max-width: 565px) {
  .contacts_form {
    width: 100%;
  }
}
.contacts_form h3 {
  margin-bottom: 2.8rem;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.contacts_form form .inp {
  margin-bottom: 2.8rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
}
.contacts_form form .inp:last-child {
  margin-bottom: 0;
}
.contacts_form form .inp input, .contacts_form form .inp textarea {
  width: 100%;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (max-width: 565px) {
  .contacts_form form .inp input, .contacts_form form .inp textarea {
    font-size: 1.2rem;
  }
}
.contacts_form form .inp input::placeholder, .contacts_form form .inp textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.2;
}
.contacts_form form .inp textarea {
  padding-bottom: 3.4rem;
  resize: none;
}
.contacts_form form .btn_wrap {
  text-align: center;
}
.contacts_form form button {
  width: 200px;
  height: 50px;
  background: #EFAF84;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
}
@media screen and (max-width: 565px) {
  .contacts_form form button {
    width: 170px;
    height: 45px;
  }
}

.contacts-bg {
  background: #1C1D1D url(/images/contacts-map.jpg) 100% 100%/51.6% no-repeat;
}
@media screen and (max-width: 1366px) {
  .contacts-bg {
    background: #1C1D1D url(/images/contacts-map.jpg) 134% 100%/70% no-repeat;
  }
}
@media screen and (max-width: 1024px) {
  .contacts-bg {
    background: #1C1D1D url(/images/contacts-map.jpg) -222% 100%/123% no-repeat;
  }
}
@media screen and (max-width: 565px) {
  .contacts-bg {
    background: none;
  }
}

.requirements_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 18rem;
  overflow: auto;
  z-index: 1;
}
@media (max-width: 812px) and (orientation: landscape) {
  .requirements_wrap {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 768px) {
  .requirements_wrap {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .requirements_wrap {
    padding-top: 9rem;
    padding-bottom: 7rem;
  }
}
.requirements_wrap.req-mod::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 85%;
  background-color: #172F31;
  border-radius: 1rem;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .requirements_wrap.req-mod::after {
    display: none;
  }
}
.requirements_wrap.career-mod::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
  height: 37%;
  background-color: #172F31;
  border-radius: 1rem;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .requirements_wrap.career-mod::after {
    display: none;
  }
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
  padding-right: 7rem;
}
@media screen and (max-width: 1140px) {
  .requirements {
    padding-right: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .requirements {
    padding-right: 2rem;
  }
}

.requirements_block {
  flex: 1 1 35rem;
  max-width: 52.5rem;
}
@media screen and (max-width: 1024px) {
  .requirements_block {
    max-width: 100%;
  }
}
.requirements_block.width-mod {
  max-width: 66.9rem;
}
.requirements_block img {
  display: block;
  max-width: 100%;
  max-height: 73rem;
  border-radius: 1rem;
}

.requirements_content_text {
  margin-bottom: -2.2rem;
  padding-bottom: 4.3rem;
}
.requirements_content_text p {
  padding-bottom: 2.2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 565px) {
  .requirements_content_text p {
    font-size: 1.4rem;
  }
}
.requirements_content_text a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #EFAF84;
}
.requirements_content_text a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  height: 0.1rem;
  background-color: #EFAF84;
}

.requirements_item {
  position: relative;
  padding: 0 0 2.3rem 5.3rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 565px) {
  .requirements_item {
    font-size: 1.4rem;
  }
}
.requirements_item:before {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 2.3rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #EFAF84;
}
.requirements_item span {
  font-weight: 700;
}

.vacancies_btn {
  width: 150px;
  height: 50px;
  margin-top: 4rem;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #172F31;
  outline: none;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 565px) {
  .vacancies_btn {
    margin-top: 0;
  }
}

.featureproject_wrap {
  padding-right: 10rem;
  overflow: auto;
}
@media screen and (max-width: 1366px) {
  .featureproject_wrap {
    padding-right: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .featureproject_wrap {
    padding-right: 1.6rem;
  }
}

.featureproject_past {
  padding-top: 15rem;
  height: 100vh;
  overflow: auto;
}
@media screen and (max-width: 565px) {
  .featureproject_past {
    padding-top: 9rem;
    padding-bottom: 7rem;
  }
}

.featureproject_subtitle {
  padding-bottom: 6.2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 1024px) and (orientation: landscape) {
  .featureproject_subtitle {
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 565px) {
  .featureproject_subtitle {
    padding-bottom: 3rem;
  }
}
.featureproject_subtitle.featuredproj-mod {
  padding-bottom: 3rem;
}

.featureproject_slider_wrap {
  position: relative;
}

.swiper-slide {
  filter: grayscale(100%) saturate(104%);
  -webkit-filter: grayscale(100%) saturate(104%);
  -moz-filter: grayscale(100%) saturate(104%);
}
.swiper-slide img {
  width: 100%;
  height: 37rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  object-fit: cover;
}
@media screen and (max-width: 565px) {
  .swiper-slide img {
    height: auto;
  }
}
.swiper-slide:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
}
.swiper-slide:hover .swiper_desc,
.swiper-slide:hover .swiper_desc_block {
  display: block;
  background-color: #172F31;
}

.swiper-button-next {
  background-color: #434343;
  color: #fff;
  font-size: 5px;
  padding: 1rem;
}

.swiper_desc {
  padding: 1.7rem 2.9rem 0;
  background-color: #111015;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.swiper_desc_title {
  padding-bottom: 1.8rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.2;
}
@media screen and (max-width: 1024px) {
  .swiper_desc_title {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 565px) {
  .swiper_desc_title {
    font-size: 1.8rem;
  }
}

.swiper_desc_block {
  display: none;
  padding-bottom: 2rem;
}

.swiper_desc_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 1.7rem;
}
@media screen and (max-width: 565px) {
  .swiper_desc_group {
    padding-bottom: 1rem;
  }
}
.swiper_desc_group:last-child {
  padding-bottom: 0;
}
.swiper_desc_group span {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.2;
}
@media (max-width: 1024px) and (orientation: landscape) {
  .swiper_desc_group span {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 565px) {
  .swiper_desc_group span {
    font-size: 1.4rem;
  }
}
.swiper_desc_group span.v1-mod {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.2;
}
@media screen and (max-width: 1366px) {
  .swiper_desc_group span.v1-mod {
    font-size: 2rem;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .swiper_desc_group span.v1-mod {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .swiper_desc_group span.v1-mod {
    max-width: 69%;
  }
}
@media (max-width: 565px) and (orientation: portrait) {
  .swiper_desc_group span.v1-mod {
    max-width: 78%;
  }
}
@media screen and (max-width: 565px) {
  .swiper_desc_group span.v1-mod {
    font-size: 1.6rem;
  }
}

/*.swiper_desc_block {
	.swiper_desc_group:last-child {
		.v1-mod {
			font-size: 2rem;
		}
	}
}*/
.slider-button-next,
.slider-button-prev {
  position: absolute;
  top: -8rem;
  right: 0;
  z-index: 8;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #434343 url(/ico/slider-arrow-right.svg) 1.7rem 1.3rem/0.9rem no-repeat;
  /*background-color: #434343;
  background-image: url(/ico/slider-arrow-right.svg);*/
}
@media screen and (max-width: 565px) {
  .slider-button-next,
.slider-button-prev {
    top: -6rem;
  }
}

.slider-button-prev {
  right: 6rem;
  transform: rotate(180deg);
}

/* ExtraLight */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"), url("/fonts/TTHoves-ExtraLight.ttf") format("truetype"), url("/fonts/TTHoves-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/TTHoves-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
/* Light */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"), url("/fonts/TTHoves-Light.ttf") format("truetype"), url("/fonts/TTHoves-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/TTHoves-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
/* Medium */
/*@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Medium.ttf') format('truetype'),
	url('/fonts/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}*/
/* Hairline */
/*@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Hairline.ttf') format('truetype'),
	url('/fonts/TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Hairline.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}*/
/* Thin */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"), url("/fonts/TTHoves-Thin.ttf") format("truetype"), url("/fonts/TTHoves-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/TTHoves-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/* DemiBold */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"), url("/fonts/TTHoves-DemiBold.ttf") format("truetype"), url("/fonts/TTHoves-DemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTHoves-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"), url("/fonts/TTHoves-Bold.ttf") format("truetype"), url("/fonts/TTHoves-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTHoves-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

a {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* @-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
  }
}*/
.title {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.2;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .title {
    font-size: 3rem;
  }
}
.title_about-mod {
  padding-bottom: 3rem;
}
@media screen and (max-width: 565px) {
  .title_about-mod {
    padding-bottom: 2.5rem;
  }
}
.title.team_mod {
  margin-top: 3.8rem;
  padding-bottom: 4.4rem;
}
@media screen and (max-width: 565px) {
  .title.team_mod {
    padding-bottom: 2.5rem;
  }
}
.title.core-mod {
  padding-bottom: 4.1rem;
}
@media screen and (max-width: 565px) {
  .title.core-mod {
    padding-bottom: 2.5rem;
  }
}
.title.vision-mod {
  padding-bottom: 4rem;
}
@media screen and (max-width: 1366px) {
  .title.vision-mod {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 850px) {
  .title.vision-mod {
    padding-bottom: 3rem;
    font-size: 4rem;
  }
}
@media screen and (max-width: 565px) {
  .title.vision-mod {
    padding-bottom: 2.5rem;
  }
}
.title.whatwedo-mod {
  padding-bottom: 4.1rem;
}
@media screen and (max-width: 565px) {
  .title.whatwedo-mod {
    padding-bottom: 2.5rem;
  }
}
.title.newhomes-mod {
  padding-bottom: 3.8rem;
}
@media screen and (max-width: 565px) {
  .title.newhomes-mod {
    padding-bottom: 2.5rem;
  }
}
.title.contacts-mod {
  padding-bottom: 3rem;
}
@media screen and (max-width: 565px) {
  .title.contacts-mod {
    padding-bottom: 2.5rem;
  }
}
.title.requirements-mod {
  padding-bottom: 4.7rem;
}
@media screen and (max-width: 565px) {
  .title.requirements-mod {
    padding-bottom: 2.5rem;
  }
}
.title.pastproj-mod {
  padding-bottom: 3.1rem;
}
@media screen and (max-width: 565px) {
  .title.pastproj-mod {
    padding-bottom: 2rem;
  }
}
.title.featuredproj-mod {
  padding-bottom: 2.5rem;
}

.global_wrap {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-left: 10rem;
  background-color: #1C1D1D;
}
@media screen and (max-width: 1140px) {
  .global_wrap {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 565px) {
  .global_wrap {
    padding-left: 1.6rem;
  }
}
.global_wrap.bg-mod-v1 {
  background: #1C1D1D url(images/bg-img.png) 100% 100%/80% no-repeat;
}
@media screen and (max-width: 850px) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 100% 137%/67% no-repeat;
  }
}
@media screen and (max-width: 768px) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 24% 137%/143% no-repeat;
  }
}
@media (max-width: 736px) and (orientation: landscape) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 146% 100%/73% no-repeat;
  }
}
@media screen and (max-width: 731px) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 124% 137%/75% no-repeat;
  }
}
@media screen and (max-width: 565px) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 57% 100%/224% no-repeat;
  }
}
@media screen and (max-width: 375px) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 61% 100%/200% no-repeat;
  }
}
@media screen and (max-width: 325px) {
  .global_wrap.bg-mod-v1 {
    background: #1C1D1D url(images/bg-img.png) 45% 100%/170% no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  .homepage_title_block {
    margin-top: 33rem;
  }
}
@media screen and (max-width: 850px) {
  .homepage_title_block {
    margin-top: 17rem;
  }
}
@media screen and (max-width: 768px) {
  .homepage_title_block {
    margin-top: 25rem;
  }
}
@media (max-width: 736px) and (orientation: landscape) {
  .homepage_title_block {
    margin-top: 18rem;
  }
}
@media screen and (max-width: 731px) {
  .homepage_title_block {
    margin-top: 16rem;
  }
}
@media screen and (max-width: 565px) {
  .homepage_title_block {
    margin-top: 12.8rem;
  }
}

.homepage_title {
  font-family: "TTHoves";
  padding-bottom: 4rem;
  font-style: normal;
  font-weight: 100;
  font-size: 7rem;
  line-height: 1.2;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #FFFFFF;
  /*@include bp(850px) {
  	font-size: 3rem;
  }*/
  /*@include bp(768px) {
  	font-size: 6rem;
  }*/
}
@media (max-width: 1024px) and (orientation: landscape) {
  .homepage_title {
    padding-bottom: 3rem;
    font-size: 5rem;
  }
}
@media (max-width: 768px), screen and (orientation: portrait) {
  .homepage_title {
    font-size: 6rem;
  }
}
@media (max-width: 850px) and (orientation: landscape) {
  .homepage_title {
    padding-bottom: 2rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 565px) {
  .homepage_title {
    width: 80vw;
    padding-bottom: 1.7rem;
    font-size: 2.5rem;
  }
}
.homepage_title.mod-bold {
  font-weight: 600;
}

.homepage_bread {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -10rem;
}
@media screen and (max-width: 850px) {
  .homepage_bread {
    margin: 0 0 0 -5rem;
  }
}
@media screen and (max-width: 565px) {
  .homepage_bread {
    margin: 0 0 0 -4rem;
  }
}
.homepage_bread_list {
  position: relative;
  padding: 0 0 0 10rem;
  margin: 0 0 2rem 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 850px) {
  .homepage_bread_list {
    padding: 0 0 0 5rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .homepage_bread_list {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 731px) {
  .homepage_bread_list {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 565px) {
  .homepage_bread_list {
    font-size: 1rem;
    padding: 0 0 0 4rem;
  }
}
.homepage_bread_list:not(:first-child):before {
  content: "";
  position: absolute;
  left: 5rem;
  top: 60%;
  transform: translateY(-50%);
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (max-width: 850px) {
  .homepage_bread_list:not(:first-child):before {
    left: 2.5rem;
    width: 0.4rem;
    height: 0.4rem;
  }
}
@media screen and (max-width: 565px) {
  .homepage_bread_list:not(:first-child):before {
    left: 2.1rem;
    top: 60%;
    width: 0.3rem;
    height: 0.3rem;
  }
}

.main_content {
  flex: 1;
  display: flex;
}
.main_content.vert-center-mod {
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .main_content.vert-center-mod {
    align-items: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
