@mixin bp($width,$direction:max) {
	@if $direction == min {
		@media screen and (min-width: $width) {
			@content;
		}
	}
	@else {
		@media screen and (max-width: $width) {
			@content;
		}
	}
}

@import "reset.css";
@import "SCSS/variable";
@import "SCSS/header";
@import "SCSS/socials";
@import "SCSS/sidebar-nav";

// PAGES
@import "SCSS/whoweare/whoweare";
@import "SCSS/whatwedo/whatwedo";
@import "SCSS/contacts/contacts";
@import "SCSS/requirements/requirements";
@import "SCSS/featureproject/featureproject";


/* ExtraLight */
@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-ExtraLight.ttf') format('truetype'),
	url('/fonts/TTHoves-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

/* Light */
@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Light.ttf') format('truetype'),
	url('/fonts/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

/* Medium */
/*@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Medium.ttf') format('truetype'),
	url('/fonts/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}*/

/* Hairline */

/*@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Hairline.ttf') format('truetype'),
	url('/fonts/TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Hairline.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}*/

/* Thin */

@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Thin.ttf') format('truetype'),
	url('/fonts/TTHoves-Thin.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

/* DemiBold */

@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-DemiBold.ttf') format('truetype'),
	url('/fonts/TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

/* Bold */

@font-face {
	font-family: 'TTHoves';
	src: local('TTHoves'),
	url('/fonts/TTHoves-Bold.ttf') format('truetype'),
	url('/fonts/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/TTHoves-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	font-size: 1.6rem;
	overflow: hidden;
}
html, body {height: 100%;}

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	color: #fff;
}

a {
	font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
	width: 0; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}
/* @-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
  }
}*/


.title {
	font-weight: 300;
	font-size: 6rem;
	line-height: 1.2;
	color: #FFFFFF;

	@include bp(768px) {
		font-size: 5rem;
	}

	@include bp(565px) {
		font-size: 3rem;
	}

	&_about-mod {
		//padding-bottom: 4rem;
		padding-bottom: 3rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.team_mod {
		margin-top: 3.8rem;
		padding-bottom: 4.4rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.core-mod {
		padding-bottom: 4.1rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.vision-mod {
		padding-bottom: 4rem;

		@include bp(1366px) {
			padding-bottom: 0;
		}

		@include bp(850px) {
			padding-bottom: 3rem;
			font-size: 4rem;
		}

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.whatwedo-mod {
		padding-bottom: 4.1rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.newhomes-mod {
		padding-bottom: 3.8rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.contacts-mod {
		//padding-bottom: 4.5rem;
		padding-bottom: 3rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.requirements-mod {
		padding-bottom: 4.7rem;

		@include bp(565px) {
			padding-bottom: 2.5rem;
		}
	}

	&.pastproj-mod {
		//padding-bottom: 4.1rem;
		padding-bottom: 3.1rem;

		@include bp(565px) {
			padding-bottom: 2rem;
		}
	}

	&.featuredproj-mod {
		//padding-bottom: 4.1rem;
		padding-bottom: 2.5rem;
	}
}

.global_wrap {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	//padding-top: 20rem;
	padding-left: $main-padding;
	//padding-right: $main-padding;
	//background-color: $main-bg;
	background-color: $main-bg;

	@include bp(1140px) {
		padding-left: 5rem;
	}

	@include bp(565px) {
		padding-left: 1.6rem;
	}

	&.bg-mod-v1 {
		background: $main-bg url(images/bg-img.png) 100% 100%/80% no-repeat;

		@include bp(850px) {
			background: $main-bg url(images/bg-img.png) 100% 137%/67% no-repeat;
		}

		@include bp(768px) {
			background: $main-bg url(images/bg-img.png) 24% 137%/143% no-repeat;
		}

		@media (max-width: 736px) and (orientation: landscape) {
			background: $main-bg url(images/bg-img.png) 146% 100%/73% no-repeat;
		}

		@include bp(731px) {
			background: $main-bg url(images/bg-img.png) 124% 137%/75% no-repeat;
		}

		@include bp(565px) {
			background: $main-bg url(images/bg-img.png) 57% 100%/224%  no-repeat;
		}

		@include bp(375px) {
			//background: $main-bg url(images/bg-img.png) 61% 100%/280% no-repeat;
			background: $main-bg url(images/bg-img.png) 61% 100%/200% no-repeat;
		}

		@include bp(325px) {
			background: $main-bg url(images/bg-img.png) 45% 100%/170% no-repeat;
		}
	}
}

.homepage_title_block {
	@include bp(1024px) {
		margin-top: 33rem;
	}

	@include bp(850px) {
		margin-top: 17rem;
	}

	@include bp(768px) {
		margin-top: 25rem;
	}

	@media (max-width: 736px) and (orientation: landscape) {
		margin-top: 18rem;
	}

	@include bp(731px) {
		margin-top: 16rem;
	}

	@include bp(565px) {
		margin-top: 12.8rem;
	}
}

.homepage_title {
	//font-family: TT Hoves;
	font-family: 'TTHoves';
	//max-width: 88rem;
	padding-bottom: 4rem;
	font-style: normal;
	font-weight: 100;
	font-size: 7rem;
	line-height: 1.2;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #FFFFFF;

	/*@include bp(850px) {
		font-size: 3rem;
	}*/
	@media (max-width: 1024px) and (orientation: landscape) {
		padding-bottom: 3rem;
		font-size: 5rem;
	}

	@media (max-width: 768px), screen and (orientation: portrait) {
		font-size: 6rem;
	}
	@media (max-width: 850px) and (orientation: landscape) {
		padding-bottom: 2rem;
		font-size: 3rem;
	}
	/*@include bp(768px) {
		font-size: 6rem;
	}*/

	@include bp(565px) {
		width: 80vw;
		padding-bottom: 1.7rem;
		font-size: 2.5rem;
	}

	&.mod-bold {
		font-weight: 600;
	}
}

.homepage_bread {
	display: flex;
	flex-wrap: wrap;
	//margin: 0 0 0 -8.6rem;
	margin: 0 0 0 -10rem;

	@include bp(850px) {
		margin: 0 0 0 -5rem;
	}

	@include bp(565px) {
		//margin: 0 0 0 -5.6rem;
		margin: 0 0 0 -4rem;
	}

	&_list {
		position: relative;
		//padding: 0 0 0 8.6rem;
		padding: 0 0 0 10rem;
		margin: 0 0 2rem 0;
		font-size: 3rem;
		font-style: normal;
		font-weight: 300;
		color: #fff;

		@include bp(850px) {
			padding: 0 0 0 5rem;
			font-size: 1.5rem;
		}

		@include bp(768px) {
			font-size: 2.5rem;
		}

		@include bp(731px) {
			font-size: 1.5rem;
		}

		@include bp(565px) {
			font-size: 1rem;
			//padding: 0 0 0 5.6rem;
			padding: 0 0 0 4rem;
		}

		&:not(:first-child) {
			&:before {
				content: '';
				position: absolute;
				//left: 4rem;
				left: 5rem;
				top: 60%;
				transform: translateY(-50%);
				width: .8rem;
				height: .8rem;
				background-color: #fff;
				border-radius: 50%;

				@include bp(850px) {
					left: 2.5rem;
					width: 0.4rem;
					height: 0.4rem;
				}

				@include bp(565px) {
					left: 2.1rem;
					top: 60%;

					width: 0.3rem;
					height: 0.3rem;
				}
			}
		}
	}
}

.main_content {
	flex: 1;
	display: flex;

	&.vert-center-mod {
		align-items: center;

		@include bp(1024px) {
			align-items: flex-start;
		}
	}
}