.who_wrap {
	//margin-top: 4.9rem;
	width: 100%;
}

.about {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	margin: 0 0 -2rem -3rem;
	//margin: 0 0 -2rem -3rem;
	padding-right: 7.5rem;
	padding-top: 18rem;
	overflow:auto;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 38%;
		height: 53%;
		background-color: #172F31;

		@include bp(1024px) {
			//display: none;
			width: 62%;
			height: 42%;
			bottom: -17%;
		}

		@include bp(768px) {
			width: 57%;
			height: 46%;
			bottom: -47%;
		}

		@include bp(565px) {
			display: none;
		}

	}

	@include bp(1024px) {
		//padding-top: 7rem;
		padding-right: 5rem;
	}

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 13rem;
	}

	@include bp(565px) {
		padding-top: 9rem;
		padding-right: 2rem;
	}

	&_block {
		padding: 0 0 2rem 3rem;
	}

	&_info {
		flex: 1 1 41%;
		min-width: 300px;

		@include bp(1024px) {
			flex: 1 1 auto;
		}

		&_text {
			p {
				//padding: 0 0 2.3rem 0;
				padding: 0 0 2rem 0;
				font-weight: 400;
				font-size: 1.6rem;
				line-height: 1.5;

				@include bp(565px) {
					font-size: 1.4rem;
					padding: 0 0 1.5rem 0;
				}
			}

			.bold-mod {
				font-weight: 700;
			}
		}
	}

	.about_image {
		position: relative;
		flex: 1 1 59%;
		align-self: flex-start;
		margin-top: 5rem;

		@include bp(1024px) {
			padding-bottom: 17rem;
		}

		@include bp(565px) {
			margin-top: 0;
			padding-bottom: 7rem;
		}

		img {
			display: block;
			width: 100%;
			max-height: 55rem;
			border-radius: 1rem;
		}
	}

	&_image_info {
		position: absolute;
		left: 20%;
		//bottom: -30%;
		bottom: -24%;
		transform: translateY(-30%);
		width: 50%;
		//padding: 4.1rem 3.4rem 5.5rem 3.4rem;
		padding: 2.5rem 3.4rem 4rem 3.4rem;
		background-color: #0F5257;
		border-radius: 1rem;

		@include bp(1024px) {
			//bottom: -4%;
			bottom: 2%;
		}

		@include bp(768px) {
			//bottom: -4%;
			bottom: -3%;
		}

		@include bp(565px) {
			display: none;
		}

		&_title {
			padding-bottom: .7rem;
			font-weight: normal;
			font-size: 5rem;
			line-height: 1.2;
		}

		&_text {
			&.v1-mod {
				position: relative;
				padding-bottom: 1rem;
				margin-bottom: 1rem;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					height: 0.1rem;
					width: 43%;
					background-color: #fff;
				}
			}

			p {
				padding-bottom: 0.3rem;
			}
		}
	}
}

.team_wrap {
	position: relative;
	padding-left: 1.5rem;
	padding-right: 1rem;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 52%;
		height: 29%;
		background-color: #172F31;

		@include bp(1024px) {
			display: none;
		}

	}
}
.team {
	position: relative;
	z-index: 1;
	display: flex;
	align-content: flex-start;
	//justify-content: center;
	align-self: flex-start;
	flex-wrap: wrap;
	height: 100vh;
	max-width: 113.8rem;
	//margin: 10rem 0 -4rem -3rem;
	//margin: 10rem 0 -4rem -3rem;
	margin: 10rem 0 0 -3rem;
	padding-top: 10.7rem;
	overflow: auto;

	@include bp(1024px) {
		margin-right: 5rem;
	}

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 6rem;
	}

	@include bp(565px) {
		margin-right: 1rem;
		padding-top: 0;
		padding-bottom: 7rem;
	}
}
.team_block {
	position: relative;
	align-self: flex-start;
	width: 25%;
	min-width: 24rem;
	//max-width: 26.2rem;
	/*margin-top: 4rem;*/
	padding: 0 0 2rem 1.9rem;

	&:nth-child(2) {
		margin-top: 4rem;
	}
	&:nth-child(3) {
		margin-top: 4rem;
	}

	@include bp(1024px) {
		width: 50%;
	}

	@include bp(565px) {
		width: 100%;
	}

	@include bp(565px) {
		&:nth-child(2) {
			margin-top: 0;
		}
		&:nth-child(3) {
			margin-top: 0;
		}
	}

	&.with-mod {
		width: 50%;
		min-width: 300px;
		max-width: 100%;
		padding-right: 1rem;
		margin-top: 4rem;

		@include bp(1024px) {
			width: 100%;
		}

		@include bp(565px) {
			padding-right: 0;
		}
	}

	&_text {

		p {
			padding-bottom: 2rem;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 1.5;

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	&_img {
		position: relative;
		filter: grayscale(100%) saturate(104%);
		-webkit-filter: grayscale(100%) saturate(104%);
		-moz-filter: grayscale(100%) saturate(104%);

		.team_block_info {
			position: absolute;
			left: 6%;
			bottom: 11%;
			font-size: 1.8rem;
			line-height: 1.2;
			z-index: 1;

			&_title {
				font-weight: 600;
			}
			&_position {
				font-weight: normal;
			}
			&_email {
				display: none;
				font-weight: 300;
			}
		}

		&:hover {
			filter: none;
			-webkit-filter: none;
			-moz-filter: none;
			background-color: #fff;

			.team_block_info {
				&_email {
					display: block;
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 1rem;
			cursor: pointer;
		}
	}
}

.core {
	//margin-top: 5rem;
	padding-top: 18.7rem;
	height: 100vh;
	overflow:auto;

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 13rem;
	}

	@include bp(565px) {
		padding-top: 9rem;
	}

	&_subtitle {
		padding-bottom: 4.7rem;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.4;
	}

	&_list {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 0 7.5rem;

		@include bp(565px) {
			padding: 0 0 7rem 4rem;
		}
	}

	&_item {
		position: relative;
		//width: 50%;
		width: 47%;
		min-width: 30rem;
		padding: 0 4rem 6.5rem 11.5rem;

		@include bp(565px) {
			padding: 0 0 3.5rem 8.5rem;
		}

		&.candid-mod,
		&.passionate-mod,
		&.innovative-mod,
		&.curious-mod,
		&.results-mod,
		&.laughter-mod {
			&:before {
				position: absolute;
				content: '';
				left: 0;
				top: .5rem;
				width: 7rem;
				height: 7rem;
				background-size: 100%;
				background-repeat: no-repeat;

				@include bp(565px) {
					width: 5rem;
					height: 5rem;
				}
			}
		}

		&.candid-mod {
			&:before {
				background-image: url("/ico/Candid.svg");
				height: 4.8rem;
			}
		}
		&.passionate-mod {
			&:before {
				background-image: url("/ico/Passionate.svg");
			}
		}
		&.innovative-mod {
			&:before {
				background-image: url("/ico/Innovative.svg");
			}
		}
		&.curious-mod {
			&:before {
				background-image: url("/ico/Curious&Courageous.svg")
			}
		}
		&.results-mod {
			&:before {
				background-image: url("/ico/Results-Driven.svg");
			}
		}
		&.laughter-mod {
			&:before {
				background-image: url("/ico/Laughter.svg");
			}
		}

		&_header {
			padding-bottom: .8rem;
			font-weight: bold;
			font-size: 3rem;
			line-height: 1.2;

			@include bp(565px) {
				font-size: 2.2rem;
			}
		}

		&_text {
			//width: 66%;
			max-width: 32.2rem;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 1.4;

			@include bp(565px) {
				font-size: 1.4rem;
			}
		}
	}
}

.vision {
	display: flex;
	flex-direction: column;
	//min-height: 100%;
	height: 100vh;
	//margin-top: 4.8rem;
	padding-top: 18.8rem;
	overflow:auto;

	@include bp(850px) {
		padding-top: 15rem;
	}

	/*@include bp(565px) {
		padding-top: 15rem;
	}*/


	&.bg-mod {
		background: #1C1D1D url("/images/vision-bg-2.png") 100% 125%/100% no-repeat;

		/*@media (max-width: 1366px) and (max-height: 1024px){
			background: #1C1D1D url("/images/vision-bg-2.png") 35% 100%/218% no-repeat;
		}*/
		@media (max-width: 1366px) and (orientation: landscape){
			background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/119% no-repeat;
		}

		@media (max-width: 1024px) and (orientation: portrait){
			background: #1C1D1D url("/images/vision-bg-2.png") 35% 100%/218% no-repeat;
		}

		@media (max-width: 1024px) and (orientation: landscape){
			background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/106% no-repeat;
		}

		/*@include bp(1366px) {
			background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/100% no-repeat;
		}*/
		@media (max-height: 768px) and (orientation: portrait) {
			background: #1C1D1D url("/images/vision-bg-2.png") 39% 100%/220% no-repeat;
		}

		/*@include bp(1024px) {
			background: #1C1D1D url("/images/vision-bg-2.png") 37% 100%/218% no-repeat;
		}*/

		//@include bp(850px) {
		//	background: #1C1D1D url("/images/vision-bg-2.png") 100% 146%/62% no-repeat;
		//}
		//
		//@include bp(768px) {
		//	background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/100% no-repeat;
		//}

		@include bp(731px) {
			background: #1C1D1D url("/images/vision-bg-2.png") 100% 140%/83% no-repeat;
		}

		@include bp(565px) {
			background: #1C1D1D url("/images/vision-bg-2.png") 100% 100%/126% no-repeat;

		}
	}


	&_content {
		max-width: 94.6rem;
		margin: auto;
		text-align: center;


		@include bp(1024px) {
			//margin-top: 27%;
		}

		@include bp(565px) {
			margin-top: 25%;
		}

		p {
			font-weight: normal;
			font-size: 4rem;
			line-height: 1.2;
			text-transform: uppercase;

			.bold-mod {
				font-weight: 600;
			}

			@include bp(1024px) {
				width: 90vw;
			}

			/*@include bp(850px) {
				width: 58vw;
				font-size: 2rem;
			}*/
			@media (max-width: 812px) and (orientation: landscape){
				width: 58vw;
				font-size: 2rem;
			}

			@media (max-width: 768px) and (orientation: portrait){
				width: 90vw;
				font-size: 4rem;
			}

			@include bp(565px) {
				width: 90vw;
				font-size: 2.5rem;
			}
		}
	}
}

.about,
.core,
.vision,
.team {
	//padding-top: 13rem;
}