.whatwedo_wrap {
  width: 100%;
}

.whatwedo {
  display: flex;
}

.whatwedo_block_wrap img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/*# sourceMappingURL=whatwedo.css.map */
