//@import "../../SCSS/variable";

.whatwedo {
	position: relative;
	z-index: 1;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 45%;
		height: 70%;
		background-color: #172F31;

		@include bp(565px) {
			display: none;
		}
	}
}

.whatwedo_wrap {
	width: 100%;

	img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
		object-fit: cover;
	}
}

.whatwedo_section_wrap {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	margin: 0 10rem 0 -4.2rem;
	padding-top: 18.5rem;
	overflow: auto;

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 13rem;
	}

	@include bp(565px) {
		margin: 0 1.6rem 0 -4.2rem;
		padding-top: 9rem;
		padding-bottom: 6rem;
	}
}

.whatwedo_newhomes_text_wrap {
	padding-bottom: 3.5rem;

	@include bp(565px) {
		padding-bottom: 2.5rem;
	}

	p {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.5;

		@include bp(565px) {
			font-size: 1.4rem;
		}
	}
}

.whatwedo_section {
	width: 62%;
	padding-left: 4.2rem;

	@include bp(1372px) {
		width: 100%;
	}

	&.width-mod {
		width: 38%;
		min-width: 35rem;

		@include bp(1372px) {
			width: 100%;
		}
	}
}

.whatwedo_block_wrap {
	position: relative;
	padding-bottom: 3.7rem;
	filter: grayscale(100%) saturate(104%);
	-webkit-filter: grayscale(100%) saturate(104%);
	-moz-filter: grayscale(100%) saturate(104%);

	&.v1-mod {
		//height: 58rem;
		height: 55rem;
	}
	&.v2-mod {
		//height: 40.6rem;
		height: 39.1rem;
	}
	&.v3-mod,
	&.v4-mod{
		//min-height: 37rem;
		min-height: 35.5rem;

		//@include bp(1140px) {
		//	width: 100%;
		//}
	}
}

.whatwedo_acqui_letti {
	display: flex;
	flex-wrap: wrap;
	column-gap: 4.2rem;
	//margin-right: -4.2rem;

	.whatwedo_block_wrap {
		//width: 50%;
		width: calc(50% - 2.1rem);
		//padding-right: 4.2rem;

		@include bp(1140px) {
			width: 100%;
		}
	}
}

.whatwedo_block_info {
	position: absolute;
	left: 6%;
	width: 60%;
	bottom: 20%;
	line-height: 1.2;
}
.whatwedo_block_info_title {
	font-weight: 600;
	font-size: 3rem;
	line-height: 1.2;

	@include bp(565px) {
		font-size: 2.2rem;
	}
}
.whatwedo_block_info_text {
	display: none;
	font-weight: normal;
	font-size: 2.1rem;
	line-height: 1.2;

	@include bp(565px) {
		font-size: 1.5rem;
	}
}

.whatwedo_block_wrap:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	//transition: .3s ease-in;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		//height: 100%;
		height: calc(100% - 3.7rem);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
		border-radius: 1rem;
	}

	.whatwedo_block_info {
		left: 10%;
		width: 80%;
		bottom: 50%;
		z-index: 1;
		transform: translateY(40%);
		//transition: .3s ease-in;

		@include bp(565px) {
			left: 7%;
		}

		&_title {
			padding-bottom: 1rem;
		}

		&_text {
			display: block;
		}
	}
}
// New Homes ********************************
.newhomes {
	padding-top: 19rem;
	padding-bottom: 5rem;
	height: 100vh;
	overflow: auto;

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 13rem;
	}

	@include bp(565px) {
		padding-top: 9rem;
		padding-bottom: 8rem;
	}
}

.newhomes_block {
	display: flex;
	flex-wrap: wrap;
	gap: 4.5rem;
	margin-bottom: 11.9rem;

	&.acquisitions-mod {
		margin-bottom: 6rem;
	}

	&.lettings-mod {
		margin-bottom: 8rem;
	}

	@include bp(768px) {
		margin-bottom: 7rem;
	}

	@include bp(565px) {
		margin-bottom: 3rem;
	}
}
.newhomes_content {
	//flex: 0 1 52.5rem;
	flex: 0 1 37%;
	//max-width: 52.5rem;
	//width: 40%;

	@include bp(1140px) {
		flex: 1 1 auto;
		padding-right: 5rem;
	}

	@include bp(565px) {
		padding-right: 1.6rem;
	}

	p {
		padding-bottom: 2rem;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.5;

		@include bp(565px) {
			font-size: 1.4rem;
			padding-bottom: 1.5rem;
		}

		&:last-child {
			padding-bottom: 0;
		}

		a {
			position: relative;
			display: inline-block;
			//padding-bottom: 0.01rem;
			text-decoration: none;
			color: #EFAF84;
			//border-bottom: 1px solid;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0.2rem;
				height: 0.1rem;
				background-color: #EFAF84;
			}
		}
	}
}

.newhomes_content_title {
	padding-bottom: .8rem;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.5;
}

.newhomes_content:last-child {
	.newhomes_content_list {
		margin-bottom: 1rem;
	}
}

.newhomes_content_list {
	padding-bottom: 1rem;
}
.newhomes_content_item {
	position: relative;
	margin-bottom: 1.2rem;
	padding-left: 2.5rem;
	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.2;
	//background: #EFAF84;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: .6rem;
		height: .6rem;
		background: #EFAF84;
		border-radius: 50%;
	}
}

.newhomes_count_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 78%;
	gap: 3.5rem;

	@include bp(1024px) {
		width: 100%;
		padding-right: 5rem;
		justify-content: center;
	}

	@include bp(565px) {
		padding-right: 1.6rem;
	}

	&.acquisitions-mod {
		justify-content: center;
		column-gap: 16rem;
	}

	@include bp(768px) {
		justify-content: center;
	}
}
.newhomes_count {
	//max-width: 40.5rem;
	max-width: 39.8rem;
	font-family: 'TTHoves';
}
.newhomes_count_num {
	padding-bottom: 1.5rem;
	font-weight: 200;
	font-size: 6rem;
	line-height: 1.2;
	text-align: center;

	@include bp(768px) {
		font-size: 4rem;
	}

	@include bp(565px) {
		font-size: 3rem;
	}
}
.newhomes_count_desc  {
	font-weight: 200;
	font-size: 3rem;
	line-height: 1.2;
	text-align: center;

	@include bp(768px) {
		font-size: 2rem;
		max-width: 20rem;
	}

	@include bp(565px) {
		font-size: 1.8rem;
	}
}

.acquisitions,
.lettings {
	//min-height: 100vh;
	//height: 100%;
}

.whatwedo_section_wrap,
.newhomes {

	/*@media (max-width: 812px) and (orientation: landscape) {
		padding-top: 13rem;
	}*/
}