.contacts {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	//flex-direction: column;
	width: 100%;
	height: 100vh;
	//padding-top: 18.5rem;
	padding-top: 16rem;
	overflow: auto;

	@include bp(565px) {
		padding-top: 9rem;
		padding-bottom: 4rem;
	}
}

.contacts_info {
	display: flex;
	flex-direction: column;
}

.contacts_info_content {
	//margin-bottom: 5.4rem;
	margin-bottom: 3.4rem;

	&:last-child {
		margin-bottom: 0;
	}

	@include bp(565px) {
		margin-bottom: 2.5rem;
	}
}

.contacts_info_content_title {
	padding-bottom: 0.7rem;
	font-weight: 600;
	font-size: 1.6rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	@include bp(565px) {
		font-size: 1.4rem;
	}
}

.contacts_info_content_desc {
	font-weight: 300;
	font-size: 1.6rem;
	color: #A2A2A2;

	@include bp(565px) {
		font-size: 1.4rem;
	}

	&.email-mod {
		line-height: 1.4;
		color: #EFAF84;
	}
}

.company_number {
	margin-top: auto;
	padding-bottom: 6.5rem;

	p {
		font-weight: normal;
		font-size: 1.4rem;
		line-height: 1.4;
		color: #5B5B5B;
	}
}

.contacts_form_wrap {
	//width: 100%;
	//margin-top: 5rem;
	margin: 21rem 0 0 3.3rem;
	align-self: center;

	@include bp(768px) {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 0;
		padding-bottom: 5rem;
	}

	@include bp(565px) {
		margin: 0 0 0 0;
		padding-right: 1.6rem;
	}
}

.contacts_form {
	//width: 57.7rem;
	width: 51rem;
	//padding: 4rem 5.1rem;
	padding: 4rem 4.5rem;
	background: #172F31;
	border-radius: 10px;

	@include bp(565px) {
		width: 100%;
	}

	h3 {
		margin-bottom: 2.8rem;
		//margin-bottom: 2.2rem;
		font-weight: 600;
		font-size: 1.8rem;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}

	form {
		.inp {
			//margin-bottom: 3.6rem;
			margin-bottom: 2.8rem;
			padding: .5rem 0;
			border-bottom: 1px solid #fff;

			&:last-child {
				margin-bottom: 0;
			}

			input, textarea {
				width: 100%;
				font-weight: 300;
				font-size: 1.6rem;
				line-height: 1.2;
				color: #fff;
				background-color: transparent;
				border: none;
				outline: none;

				@include bp(565px) {
					font-size: 1.2rem;
				}

				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #fff;
					opacity: 1; /* Firefox */

					font-weight: 300;
					font-size: 1.6rem;
					line-height: 1.2;
				}
			}
			input {
			}
			textarea {
				//padding-bottom: 4.4rem;
				padding-bottom: 3.4rem;
				resize: none;
			}
		}

		.btn_wrap {
			text-align: center;
		}

		button {
			//width: 220px;
			//height: 60px;
			width: 200px;
			height: 50px;
			background: #EFAF84;
			border-radius: 5px;
			outline: none;
			border: none;
			font-weight: 600;
			font-size: 1.4rem;
			color: #fff;

			@include bp(565px) {
				width: 170px;
				height: 45px;
			}
		}
	}
}

.contacts-bg {
	background: #1C1D1D url(/images/contacts-map.jpg) 100% 100%/51.6% no-repeat;

	@include bp(1366px) {
		background: #1C1D1D url(/images/contacts-map.jpg) 134% 100%/70% no-repeat;
	}

	@include bp(1024px) {
		background: #1C1D1D url(/images/contacts-map.jpg) -222% 100%/123% no-repeat;
	}

	@include bp(565px) {
		background: none;
	}
}
