.featureproject_wrap {
	//padding-right: 4rem;
	padding-right: 10rem;
	overflow: auto;

	@include bp(1366px) {
		padding-right: 5rem;
	}

	@include bp(565px) {
		padding-right: 1.6rem;
	}
}

.featureproject_past {
	//padding-top: 18.9rem;
	padding-top: 15rem;
	//padding-right: 4rem;
	height: 100vh;
	overflow: auto;

	@include bp(565px) {
		padding-top: 9rem;
		padding-bottom: 7rem;
	}
}

.featureproject_subtitle {
	//padding-bottom: 7.5rem;
	padding-bottom: 6.2rem;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.4;

	@media (max-width: 1024px) and (orientation: landscape) {
		padding-bottom: 4rem;
	}

	@include bp(565px) {
		padding-bottom: 3rem;
	}

	&.featuredproj-mod {
		padding-bottom: 3rem;
	}
}

.featureproject_slider_wrap {
	position: relative;
}

.swiper-slide {
	filter: grayscale(100%) saturate(104%);
	-webkit-filter: grayscale(100%) saturate(104%);
	-moz-filter: grayscale(100%) saturate(104%);
	//transition: .3s ease-in;

	img	{
		width: 100%;
		height: 37rem;
		border-top-right-radius: 1rem;
		border-top-left-radius: 1rem;
		object-fit: cover;

		@include bp(565px) {
			height: auto;
		}
	}

	&:hover {
		filter: none;
		-webkit-filter: none;
		-moz-filter: none;

		.swiper_desc,
		.swiper_desc_block {
			display: block;
			background-color: #172F31;
		}
	}
}

.swiper-button-next {
	background-color: #434343;
	color: #fff;
	font-size: 5px;
	padding: 1rem;
}

.swiper_desc {
	//padding: 2.2rem 2.9rem 4.6rem;
	padding: 1.7rem 2.9rem 0;
	background-color: #111015;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.swiper_desc_title {
	//padding-bottom: 3.4rem;
	padding-bottom: 1.8rem;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 1.2;

	@include bp(1024px) {
		font-size: 2.1rem;
	}

	@include bp(565px) {
		font-size: 1.8rem;
	}
}

.swiper_desc_block {
	display: none;
	//padding-bottom: 4.6rem;
	padding-bottom: 2rem;
}

.swiper_desc_group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	//padding-bottom: 3.2rem;
	padding-bottom: 1.7rem;

	@include bp(565px) {
		padding-bottom: 1rem;
	}

	&:last-child {
		padding-bottom: 0;
	}

	span {
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 1.2;

		@media (max-width: 1024px) and (orientation: landscape) {
			font-size: 1.6rem;
		}

		@include bp(565px) {
			font-size: 1.4rem;
		}

		&.v1-mod {
			font-weight: 500;
			font-size: 2.4rem;
			line-height: 1.2;

			@include bp(1366px) {
				font-size: 2rem;
			}

			@media (max-width: 1024px) and (orientation: landscape) {
				font-size: 1.6rem;
			}

			@media (max-width: 768px) and (orientation: portrait) {
				max-width: 69%;
			}

			@media (max-width: 565px) and (orientation: portrait) {
				max-width: 78%;
			}

			@include bp(565px) {
				font-size: 1.6rem;
			}
		}
	}
}

/*.swiper_desc_block {
	.swiper_desc_group:last-child {
		.v1-mod {
			font-size: 2rem;
		}
	}
}*/

.slider-button-next,
.slider-button-prev {
	position: absolute;
	top: -8rem;
	right: 0;
	//z-index: 100;
	z-index: 8;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: #434343 url(/ico/slider-arrow-right.svg) 1.7rem 1.3rem/0.9rem no-repeat;
	/*background-color: #434343;
	background-image: url(/ico/slider-arrow-right.svg);*/

	@include bp(565px) {
		top: -6rem;
	}
}

.slider-button-prev {
	right: 6rem;
	transform: rotate(180deg);
}