.requirements_wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	padding-top: 18rem;
	overflow: auto;
	z-index: 1;

	@media (max-width: 812px) and (orientation: landscape){
		padding-top: 13rem;
	}

	@include bp(768px) {
		padding-bottom: 5rem;
	}

	@include bp(565px) {
		padding-top: 9rem;
		padding-bottom: 7rem;
	}

	&.req-mod {
		&::after {
			content: '';
			position: absolute;
			//top: 0;
			right: 0;
			bottom: 0;
			width: 30%;
			height: 85%;
			background-color: #172F31;
			border-radius: 1rem;
			z-index: -1;

			@include bp(1024px) {
				display: none;
			}
		}
	}

	&.career-mod {
		&::after {
			content: '';
			position: absolute;
			//top: 0;
			right: 0;
			bottom: 0;
			width: 15%;
			height: 37%;
			background-color: #172F31;
			border-radius: 1rem;
			z-index: -1;

			@include bp(1024px) {
				display: none;
			}
		}

	}
}

.requirements {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4rem;
	width: 100%;
	padding-right: 7rem;

	@include bp(1140px) {
		padding-right: 5rem;
	}

	@include bp(565px) {
		padding-right: 2rem;
	}
}

.requirements_block {
	flex: 1 1 35rem;
	max-width: 52.5rem;

	@include bp(1024px) {
		max-width: 100%;
	}

	&.width-mod {
		max-width: 66.9rem;
	}

	img {
		display: block;
		max-width: 100%;
		//height: auto;
		max-height: 73rem;
		border-radius: 1rem;
	}
}

.requirements_content {

}

.requirements_content_text {
	margin-bottom: -2.2rem;
	padding-bottom: 4.3rem;

	p {
		padding-bottom: 2.2rem;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.4;

		@include bp(565px) {
			font-size: 1.4rem;
		}
	}

	a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-weight: 500;
		color: #EFAF84;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0.2rem;
			height: 0.1rem;
			background-color: #EFAF84;
		}
	}
}

.requirements_list {}

.requirements_item {
	position: relative;
	padding: 0 0 2.3rem 5.3rem;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.4;

	@include bp(565px) {
		font-size: 1.4rem;
	}

	&:before {
		content: '';
		position: absolute;
		top: .9rem;
		left: 2.3rem;
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 50%;
		background-color: #EFAF84;
	}

	span {
		font-weight: 700;
	}
}

.vacancies_btn {
	width: 150px;
	height: 50px;
	margin-top: 4rem;

	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.5;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;

	background: #172F31;
	outline: none;
	border: none;
	border-radius: 5px;

	@include bp(565px) {
		margin-top: 0;
	}
}